
* {
  box-sizing: border-box;
}
body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/165/275/593/colorful-windows-10-gradient-minimalism-soft-gradient-hd-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.column-2 {
  float: left;
  width: 45%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  height: 475px;
  margin: 30px;
  margin-right:30px;
  margin-bottom: 70px;
  line-height:2;
}

p{
    font-size: 22px;
    font-weight: 300;
}

.large-profile {
    background-size: cover;
    background-position: center;
  }

.clip{
    clip-path: circle(39.6% at 50% 50%);
}